/* Project specific styles here */

body {
    font-family: Calibri;
    background: lightslategray;
    background-repeat: no-repeat;
    background-size: 100%;
}

#mainContainer {    
    width: 85%;
    background: whitesmoke;    
    opacity: 97%;
    
}
